#create-story-master {
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  height:80px;
  background-color: #424242;
  min-width: 480px;
}

#create-story-master form {
  padding-left: 20px;
  min-width: 300px;
}

#create-story-master input[type='text'] {
  margin: 10px 10px 10px 10px;
  outline-color: red;
}
