#create-story-master {
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  height:40px;
  background-color: #424242;
  min-width: 480px;
}

#create-story-master form {
  padding-left: 20px;
  min-width: 300px;
}

#create-story-master input[type='text'] {
  margin: 10px 10px 10px 10px;
  width: 200px;
  outline-color: Transparent;
  font-family:  'Source Sans Pro', sans-serif;
}
