#story-index-master {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:120px;
  overflow: auto;
}

.storytime-headline {
  text-align: center;
  font-size: 36px;
  padding-top: 60px;
  padding-bottom: 80px;
  border-bottom: 1px solid black;
  background: url("http://res.cloudinary.com/dzo2s4ovl/image/upload/v1490928584/writing1_olzjee.jpg") no-repeat center;
  background-size: cover;
}

#story-index-master h2 {
  text-decoration: underline;
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}

.story-index-item {
  list-style: none;
  border-bottom: 1px solid black;
  line-height: 24px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.2s;
}

.story-index-item:hover {
  color: red;
  transition-property: color;
  transition-duration: 0.2s;
}

.story-index-item-title {
  font-size: 22px;
}

.story-index-item-body {
  font-size: 18px;
}
