#update-story-master {
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  height:40px;
  background-color: #232323;
}

@-webkit-keyframes pulse {
  0%   { background-color: #232323; }
  50% { background-color: #424242; }
  100%   { background-color: #232323; }
}
@-moz-keyframes pulse {
  0%   { background-color: #232323; }
  50% { background-color: #424242; }
  100%   { background-color: #232323; }
}
@-o-keyframes pulse {
  0%   { background-color: #232323; }
  50% { background-color: #424242; }
  100%   { background-color: #232323; }
}
@keyframes pulse {
  0%   { background-color: #232323; }
  50% { background-color: #424242; }
  100%   { background-color: #232323; }
}


#update-story-error-container {
  display: none;
  opacity: 0;
  text-align: center;
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  height:40px;
  z-index:20;
  background-color: #232323;
  cursor: pointer;
  -webkit-animation: pulse 3s infinite; /* Safari 4+ */
  -moz-animation:    pulse 3s infinite; /* Fx 5+ */
  -o-animation:      pulse 3s infinite; /* Opera 12+ */
  animation:         pulse 3s infinite; /* IE 10+, Fx 29+ */
}

@media (max-width:605px) {
  #update-story-error-container {
    font-size: 14px;
  }
}

@media (max-width:530px) {
  #update-story-error-container {
    font-size: 12px;
  }
  #update-story-error-container p {
    padding:1px;
  }

}

#update-story-error-container p {
  padding: 3px;
}

#update-story-master form {
  padding-left: 20px;
}

#update-story-master input[type='text'] {
  margin: 8px 10px 10px 10px;
  outline-color: Transparent;
  width: 100px;
  color: white;
  background-color: #424242;
  outline-color: Transparent;
  font-size: 14px;
  border: 2px solid black;
  font-family:  'Source Sans Pro', sans-serif;
}

#update-story-master input[type='submit'] {
    font-size: 16px;
    position: absolute;
    top: 5px;
    left: 225px;
    background-color: rgba(50,50,50,0.3);
    color: #e5e5e5;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.3s;
    outline: none;
    border: none;
  }

#update-story-master input[type='submit']:hover {
  background-color: rgba(50,50,50,0.7);
  transition-property: background-color;
  transition-duration: 0.3s;
}

#error-message {
  margin: 0px 10px 10px 10px;
  color: orange;
}

#play-pause-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height:30px;
  width:30px;
  text-align:center;
  line-height: 30px;
  cursor: pointer;
}

.play-button {
  color:green;
}

.pause-button {
  color:red;
}

.play-button:hover {
  text-shadow: 0px 0px 4px green;
}

.pause-button:hover {
  text-shadow: 0px 0px 4px red;
}

@media (max-width:542px) {
  #error-message {
    font-size: 14px;
    margin-top: -5px;
  }
}
