#update-story-master {
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  height:40px;
  background-color: #232323;
}

#update-story-error-container {
  display: none;
  opacity: 0;
  text-align: center;
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  height:40px;
  z-index:20;
  background-color: #232323;
  cursor: pointer;
}

@media (max-width:605px) {
  #update-story-error-container {
    font-size: 14px;
  }
}

@media (max-width:530px) {
  #update-story-error-container {
    font-size: 12px;
  }
  #update-story-error-container p {
    padding:1px;
  }

}

#update-story-error-container p {
  padding: 3px;
}

#update-story-master form {
  padding-left: 20px;
}

#update-story-master input[type='text'] {
  margin: 8px 10px 10px 10px;
  outline-color: Transparent;
  width: 100px;
  color: white;
  background-color: #424242;
  outline-color: Transparent;
  font-size: 14px;
  border: 2px solid black;
  font-family:  'Source Sans Pro', sans-serif;
}

#update-story-master input[type='submit'] {
    font-size: 16px;
    position: absolute;
    top: 5px;
    left: 310px;
    background-color: rgba(50,50,50,0.3);
    color: #e5e5e5;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.3s;
    outline: none;
    border: none;
  }

#update-story-master input[type='submit']:hover {
  background-color: rgba(50,50,50,0.7);
  transition-property: background-color;
  transition-duration: 0.3s;
}

#error-message {
  margin: 0px 10px 10px 10px;
  color: orange;
}

@media (max-width:542px) {
  #error-message {
    font-size: 14px;
    margin-top: -5px;
  }
}
